<div class="page">
    <h1>Create a recipe</h1>

    <div class="spacer"></div>

    <%= render "form", recipe: @recipe %>

    <div class="spacer"></div>

    <%= link_to "Cancel", recipes_path, class: "btn btn-secondary" %>
</div>
